#titleEvent,#fecha_fin,#fecha_ini, #titleEvent_act, #fecha_ini_act,#fecha_fin_act {
    background: none;
    border: none;
    border-radius: 0px;
    display: inline;
}
#fecha_ini:focus ,#titleEvent:focus, #fecha_fin:focus, #titleEvent_act:focus,#fecha_ini_act:focus,#fecha_fin_act:focus {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid black;
}

.btn-primary {
    color: #fff;
    background-color: #30ab8d;
    border-color: #30ab8d;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #318668;
    border-color: #2f6c4e;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #318668;
    border-color: #2f6c4e;
}